.hiddenLetter-body{
    border-bottom:solid black 2px;
    font-size: 150%;
    height: 50%;
    width: 5%;
    padding:5px;
    
}
.letter-hidden{
    display:none;
}
.letter-found{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}