.letter-body{
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: center;
    height: 50%;
    width: 10%;
    font-size: 150%;
    border: solid black 2px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    
}
.letter-chosen{
    color:lightgray;
    border:solid lightgray 2px;
    cursor:default;    
}