.popUp-outer{
    height: 100vh;
    display: flex;
    width: 100vw;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.popUp-body{
    background-color:rgba(254, 254, 254, 0.912);
    border:solid black .5px;
    height:45%;
    width:90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.popUp-message{
    margin: 0;
    font-size: 200%;
}
.popUp-button{
    border: solid black 2px;
    border-radius: 15%;
    font-size: 200%;
    padding: 20px;
    cursor: pointer;
}