.landing-page-body{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-page-button{
    font-size: 28px;
    padding:50px;
    border:solid 2px black;
    border-radius: 50px;
    
    cursor:pointer;
}

.landing-page-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}